h2 {
    text-align: center;
    color: rgb(0, 40, 75);

}

small {
  text-decoration: underline;
}

.question-title {
  text-align: center;
  color: steelblue;
  padding: 20px;
}

.quiz-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    min-height: 500px;
  }
  
  .item, .span-bottom {
      padding: 20px;
      border: 2px solid rgb(104, 155, 197);
      background-color: rgb(217, 217, 248);
      border-radius: 5%;
    }

    .custom-cursor:hover {
      cursor: pointer;
  }

  .pressed {
    transform: translateY(8px);
    box-shadow: 0px 1px 20px rgba(190, 0, 73, 0.9);
  }
    
    .span-bottom {
      grid-row: 3;
      grid-column: 1 / span 2;
      background-color: steelblue;
      transition: background-color 0.3s ease
    }
    
    .info {
      text-align: center;
    }

    /* SKELETON LOADING */

  .loading-placeholder {
    position: relative;
  }

  .loading-placeholder::after{
  content: '';
  display: block;
  width: 100%;
  height: 1.4rem;
  background: linear-gradient(to right, #818492 25%, #606897 50%, #4f5a96 75%);
  background-size: 200% 200%;
  animation: shimmer 1.5s infinite;
  border-radius: 10%;
  border: 1px solid white;
}

.loading-placeholder::after {
  margin-top: 0.5rem;
}

@keyframes shimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}