<div>
  <small>Question {{questionCounter}} of {{questionsArray ? questionsArray.length : 0}}</small>
    <h2>{{ quizCategory }} Quiz</h2>
    <h3 class="question-title">{{ getQuestionTitle() }}</h3>
    <div class="quiz-container">
      <div
  class="item custom-cursor"
  (click)="chosenAnswer($event, 0)"
  [class.loading-placeholder]="!isDataLoaded"
  [class.pressed]="lastClicked === 0"
>
  {{ getOptionValue(0) }}
</div>
<div
  class="item custom-cursor"
  (click)="chosenAnswer($event, 1)"
  [class.loading-placeholder]="!isDataLoaded"
  [class.pressed]="lastClicked === 1"
>
  {{ getOptionValue(1) }}
</div>
<div
  class="item custom-cursor"
  (click)="chosenAnswer($event, 2)"
  [class.loading-placeholder]="!isDataLoaded"
  [class.pressed]="lastClicked === 2"
>
  {{ getOptionValue(2) }}
</div>
<div
  class="item custom-cursor"
  (click)="chosenAnswer($event, 3)"
  [class.loading-placeholder]="!isDataLoaded"
  [class.pressed]="lastClicked === 3"
>
  {{ getOptionValue(3) }}
</div>
      <button class="btn span-bottom" [style.backgroundColor]="questionCounter === questionsArray.length ? 'red' : 'steelblue'"
  (click)="submitAndAddAnswerToArr()"> {{ questionCounter === questionsArray.length ? 'Submit Quiz' : 'Record Answer' }} </button>
    </div>
  </div>
  