.quiz-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  min-height: 500px;
}

.item, .span-bottom {
    padding: 20px;
    border: 1px solid rgb(104, 155, 197);
    background-color: rgb(217, 217, 248);
    border-radius: 5%;
  }
  
  .span-bottom {
    grid-row: 3;
    grid-column: 1 / span 2;
    background-color: steelblue;
  }

  .info {
    text-align: center;
  }