<div>
    <h2>Task Tracker</h2>
    <h4>Version: 1.2.1</h4>
    <body>
        <p>Track your tasks with this app!</p>
        <p>Create a description for your task, choose a date and time and set a reminder if you'd like.</p>
    </body>
    <a routerLink="/">Track Your Tasks</a>
    <hr/>
    <h2>Quiz App</h2>
    <h4>Version: 1.2.1</h4>
    <body>
        <p>Take a quiz to test your programming knowledge!</p>
        <p>Choose from 3 categories Java, JavaScript, or Python.</p>
        <p>If you score high enough, you will be showcased on the leaderboard.</p>
    </body>
    <a routerLink="/quiz">Take a Quiz</a>
</div>