  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .mat-toolbar-row {
    justify-content: center !important;
  }
  
  .menu-item-style {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: border 0.3s, transform 0.3s;
  }
  