<h1>Take A Quiz!</h1>
<h3>Test Your Programming Knowledge!</h3>
<br/>
<form (ngSubmit)="onSubmitForm()">
    <div class="select-container">
      <label for="category">Select Quiz Category</label>
      <select class="styled-select" id="category" [(ngModel)]="selectedCategory" name="category" required>
        <option value="">Select Quiz Category</option>
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
      </select>
    </div>
  
    <div class="input-container">
      <label for="numberOfQuestions">Number of Questions</label>
      <input type="number" id="numberOfQuestions" [(ngModel)]="numberOfQuestions" name="numberOfQuestions" required>
      <div class="error-message">{{displayError ? 'Exceeded maximum of 10 questions' : ''}}</div>
    </div>
  
    <button type="submit">Create Quiz</button>
  </form>
  