/* Form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Form labels */
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  /* Select styles */
  .select-container {
    margin-bottom: 20px;
  }
  
  .styled-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
  }
  
  /* Input styles */
  .input-container {
    margin-bottom: 20px;
  }
  
  input[type="number"],
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
  }
  
  button {
    background-color: steelblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

  h1 {
    text-align: center;
  }
 
  h5 {
    text-align: center;
  }
  .error-message {
    color: red;
  }